data/processed/social_vehicles.csv
data/processed/social_vehicles_yaw.csv
data/processed/ego_vehicle_yaw.csv
data/processed/ego_vehicle_with_intention.csv
data/processed/social_vehicles_fixed3.csv
data/processed/social_vehicles_fixed2.csv
data/processed/social_vehicles_fixed.csv
data/processed/social_vehicles_relative.csv
